<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ChromaFlow</vendor>
  <vendor_url>https://github.com/edwardlthompson/chromaflow</vendor_url>
  <action id="org.chromaflow.install-support">
    <description>Install ChromaFlow detection support (modules, udev, packages)</description>
    <message>Authentication is required to install detection support for ChromaFlow.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/chromaflow/install-support.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--apply</annotate>
  </action>
</policyconfig>
